.chat {
    width: 100%;
    display: flex;
    column-gap: 10px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s background-color ease-in-out;
}

.chat:hover {
    background-color: #515264;
}

.activ {
    background-color: #515264;
}

.content {
    width: 100%;
}

.info {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}

.message {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #939393;
}