.sort {
    position: sticky;
    top: 126px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: #131517;
    border-bottom: 1px solid var(--color-trout);
}

.list {
    display: flex;
    column-gap: 10px;
}

.tab {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-trout);
}

.activ {
    color: var(--color-iron);
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color-iron);
}